@media only screen and (max-width: 992px) {
    .content,.topic,.topic_reply{
        width:100%!important;
    }
    .homepage{
        width:90%!important;
    }
    .sidebar{
        display:none!important;
    }
    .header_nav{
        float:none!important;
    }
}
@media only screen and (max-width: 680px) {
    .topicList .count,.topicList .tab,.topicList .top{
        display:none!important;
    }
}